<%= form_with(model: boss, local: true) do |form| %>
  <% if boss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boss.errors.count, "error") %> prohibited this boss from being saved:</h2>

      <ul>
      <% boss.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :boss_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :boss_email %>
  </div>

  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login, id: :boss_login %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
